/*Style index.html*/

body{
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    margin: 0;
    }

p{
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

label{
    color: #2c1717;
    font-size: 18px bold;
}

h2{
   color: #306E80
}

h3{
    color:#104d5e; 
}

.vermelho{
    color: red;
    font-weight: bold;
}

.textomenu1{
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
    color: #4a9b34;
}

.textomenu2{
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
    color: #2c1717;
}

.justify{
    text-align: justify;
}

.container{
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;
}
.container-mb50{
    margin-bottom: 50px;
}
.padding-30{
    padding: 10px;
    font-size: 14px;
    color: #2c1717;
   }

.padding-30ft14{
    color: #2c1717;
    font-size: 14px;
    padding: 2px;
    text-align: justify;
    margin-left: 10em;
    margin-right: 10em;
}

.tamanhosocial{
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.padding-31{
    color: #5DC241;
    padding: 10px;
}

.botaoEnviar{
    background: #6295a3;
    display: block;
    padding: 5px;
    line-height: 1.5;
    border: 1px transparent solid;
    border-radius:3px;
    align-content: center;
    width: 100px;
}
#navbar{
    width: 100%;
    background: #6295a3;
    padding: 1px;
}

#corfooter{
    background: #5DC241;
    padding: 5px;
}

#menu li{
    display: inline;
    font-size: 16px bold;
    font-weight: bolder;
    margin: 0 auto;
    padding: 0px 30px ;
   }

   #menu li a {
       text-decoration: none;
       color: #594444;
   }

   #menu li a:hover{
    color:#5DC241;
   }


/*Style historia.html*/

/*Style pontos-turisticos.html*/

/*Style contato.html*/